@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Raleway:wght@300&display=swap');

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #0c0c0c;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 280%;
    background-color: #71c5c1;
    padding: 2%;
}

.controls-area {
    display:block;
    width: 100%;
}

.restart-btn {
    color: #333;
    background-color: #71c5c1;
    border: none;
    margin: 1%;
    padding: 0.3%;
    font-size: 150%;
  }

  .restart-btn:hover {
    background: #043d5e;
    color: #fff;
  }

  .button {
    border-radius: 50%;
    background-color: #fff;
    border: 8px solid #71c5c1;
    padding: 2%;
    margin: 2%;
    font-size: 700%;
  }

  .button:hover {
    background-color: #71c5c1;
  }

  .score-area {
    margin: auto;
    padding: 2%;
    width: 30%;
    font-size: 180%;
   
  }

  footer{
    text-align: center;
    font-size: 130%;
    background-color: #71c5c1;
    padding: 2%;
    margin-top: 2%;
  }

  footer a {
    color: #0c0c0c;
  }

  /* result area -visible when result is displayed*/
  

  .outcome {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0 , 0, 0.5);
  }

  .hide {
    display: none;
  }
  
  .result-content {
    background: #fff;
    text-align: center;
    margin: 10% auto;
    width: 22%;
    border-radius: 5%;
    padding: 3%;
    box-shadow: 0 5px 8px rgba(0, 0 , 0, 0.2), 0 7px 20px 0 rgba(0, 0 , 0, 0.17);
    animation-name: resultopen;
    animation-duration: 1s;
  }

  .result-content h1 {
    margin-bottom: 8%;
  }

  .result-content p {
    font-size: 200%;
    margin-top: 8%;
  }

  .result-content i {
    font-size: 700%;
  }

  @keyframes resultopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
  }

  /* For small screen sizes below 600px width */
@media screen and (max-width: 600px ) {
  .outcome{
      font-size: 60%;
  }
}
  


