body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #0c0c0c;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 280%;
    background-color: #71c5c1;
    padding: 2%;
}

.controls-area {
    display:block;
    width: 100%;
}

.restart-btn {
    color: #333;
    background-color: #71c5c1;
    border: none;
    margin: 1%;
    padding: 0.3%;
    font-size: 150%;
  }

  .restart-btn:hover {
    background: #043d5e;
    color: #fff;
  }

  .button {
    border-radius: 50%;
    background-color: #fff;
    border: 8px solid #71c5c1;
    padding: 2%;
    margin: 2%;
    font-size: 700%;
  }

  .button:hover {
    background-color: #71c5c1;
  }

  .score-area {
    margin: auto;
    padding: 2%;
    width: 30%;
    font-size: 180%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
 